
:root {
    --rmBtn: none;
}

#CV {
    padding: 6rem 4rem;
    margin-top: 1rem;
    background-color: $c1;
    border-radius: 1rem;
    width: clamp(50vw, 70%, 700px);
    min-height: 90vh;
    grid-row: 1 / 4;
    grid-column: 2 / 3;
    display: grid;
    grid-template-columns: 1fr 2fr;

    .CVgen {
        grid-column: 1 / 2;
        grid-row: span 100;
        height: 100%;
        border-right: 3px double $c2;
        padding-right: 1rem;

        .GenPhoto {
            width: 150px;
            height: 150px;
            border-radius: 75px;
            background-color: $c2;
        }

        .GenName {
            font-size: 2rem;
            font-weight: 500;
        }

        .GenIntro {
            font-size: 1.2rem;
            color: $c1;
            background-color: $c2;
        }
    }

    .CVedu {
        grid-column: 2 / 3;
        height: fit-content;
        display: grid;
        grid-template-columns: 1.5fr 1fr;
        margin-left: 1rem;
        button {
            display: var(--rmBtn)
        }
        
        &:hover {
            --rmBtn: flex;
        }

        .EduName {
            font-size: 1.4rem;
            font-weight: 500;
            border-bottom: 3px double $c2;
        }

        .EduLoc {
            grid-column: 1 / 3;
        }

        .EduDate {
            grid-column: 2 / 3;
            grid-row: 1 / 2;
            display: flex;
            justify-content: flex-end;
            align-items: flex-end;
            gap: 0.25rem;
            border-bottom: 3px double $c2;
        }

        .EduDeg {
            @extend .EduLoc;
            grid-row: 3 / 4;
            font-weight: 500;
            font-size: 1.1rem;
        }

        .EduMaj {
            @extend .EduLoc;
            grid-row: 4 / 5;
        }

    }

    .CVwork {
        @extend .CVedu;

        .WorkName {
            @extend .EduName;
        }

        .WorkDate {
            @extend .EduDate;
        }

        .WorkPos {
            font-size: 1.1rem;
            font-weight: 500;
        }
    }
}