#form {
    grid-template-columns: 1 / 2;
}

.part {
    h1 {
        margin: 2rem 3rem 0;
        font-size: 1.7rem;
    }

    section {
        width: min-content;
        background-color: transparentize($c2, 0.6);
        box-shadow: 0 5px 10px white;
        border-radius: 1rem;
        padding: 1rem;
        margin: 0 1rem;

        .field {
            display: flex;
            flex-direction: column;
            margin-bottom: 0.5rem;

            label {
                padding-left: 0.5rem;
                padding-bottom: 3px;
            }

            input {
                font-family: $main-font;
                font-size: 0.9rem;
                width: 18rem;
                padding: 3px 6px;
                border: none;
                border-radius: 5px;
            }

            textarea {
                width: 18rem;
                height: 10rem;
                padding: 3px 6px;
                resize: none;
                border: none;
                border-radius: 5px;
            }

            input::file-selector-button {
                @extend button;
            }
        }

        button {
            cursor: pointer;
            padding: 5px 10px;
            font-family: $main-font;
            font-size: 0.9rem;
            border-radius: 1rem;
            border: none;
            background-color: $c5;

            &:hover {
                background-color: $c4;
                border: 1px solid grey;
                transition: 1s;
            }
        }
    }
}