#form {
    grid-template-columns: 1 / 2;
}

.part {
    display: grid;
    justify-content: end;

    h1 {
        margin: 2rem 3rem 0;
        font-size: 1.7rem;
    }
    
    section {
        width: min-content;
        border: 2px solid $c1;
        border-radius: 1rem;
        padding: 1rem;
        margin: 0 1rem; 

        .field {
            display: flex;
            flex-direction: column;
            margin-bottom: 0.5rem;

            input {
                width: 20rem;
            }
            
            textarea {
                width: 20rem;
                height: 10rem;
                resize: none;
            }
        }
    }
}

#sworkcur, #seducom {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 30px;
    margin-bottom: 0.5rem;

    label {
        width: fit-content;
    }

    input {
        width: 25px;
        grid-column: 2 / 3;
    }
}