@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

$background: pink;
$c1: white;
$c2: grey;
$main-font: 'Ubuntu', sans-serif;

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: $main-font;
    background-color: $background;
}

#body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

#header {
    grid-column: 1 / 3;
    background-color: $c1;
    font-size: 2.5rem;
    font-weight: 600;
    padding: 1rem;
    display: grid;
    justify-content: center;
}

.part {
    display: grid;
    justify-content: end;
}

h1 {
    grid-column: 1 / 2;
    margin: 2rem 3rem 0;
    font-size: 1.7rem;
}

section {
    width: min-content;
    grid-column: 1 / 2;
    border: 2px solid $c1;
    border-radius: 1rem;
    padding: 1rem;
    margin: 0 1rem; 
}

.field {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5rem;
}

input {
    width: 20rem;
}

textarea {
    width: 20rem;
    height: 10rem;
    resize: none;
}

#sworkcur, #seducom {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 30px;
    margin-bottom: 0.5rem;

    label {
        width: fit-content;
    }

    input {
        width: 25px;
        grid-column: 2 / 3;
    }
}

#CV {
    margin-top: 1rem;
    background-color: $c2;
    grid-row: 2 / 5;
    grid-column: 2 / 3;
}
