@import 'variables.scss', 'form.scss', 'cv.scss';

* {
    padding: 0;
    margin: 0;
    word-break: break-all;
}

body {
    font-family: $main-font;
    background-color: $background;
}

#body {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

#header {
    grid-column: 1 / 3;
    background-color: $c1;
    font-size: 2.5rem;
    font-weight: 600;
    padding: 1rem;
    display: grid;
    justify-content: center;
}

#content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    padding-bottom: 1rem;
}