@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

$background: #84A59D;
$c1: white;
$c2: #F5CAC3;
$c3: #F28482;
$c4: #F6BD60;
$c5: #F7EDE2;
$main-font: 'Ubuntu', sans-serif;